body{
  background-color: rgb(48, 48, 48);
}
::-webkit-scrollbar{
  display: none;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(48, 48, 48);
  color: rgb(255, 196, 118);

}
.header{
  flex: 30%;
  background-color: rgb(68, 68, 68);
  width: min(100% - 2rem,  800px);
  border-radius: 8px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .inputContainer {
  display: flex;
  flex-direction: column;
}
::placeholder {
  color: rgb(54, 31, 0);
}
.header input {
  border: none;
  /* border-bottom-left-radius: 8px; */
  /* border-top-left-radius: 8px; */
  background-color: rgb(231, 203, 255);
  color: rgb(54, 31, 0);
  height: 5vh;
}
.header input:focus {
outline: none;
}
.Todo{
  border-top-left-radius: 8px;
}
.DueDate{
  border-bottom-left-radius: 8px;
}
button {
  /* border-radius: 15px; */
  border: none;
  background-color: rgb(35, 0, 63);
  color: rgb(255, 196, 118);
  height: 10.25vh;
}
.header button {
  /* width: 70px; */
  /* height: 87px; */
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
